{{ define "edit" }}
{{ template "header" }}

<div class="card">
    <div class="card-header">
        Employer
    </div>
    <div class="card-body">
        
        <form method="post" action="/update">

            <div class="form-group">
                <input type="hidden" value="{{ .Id }}" class="form-control" name="id" id="id">
            </div>

            <div class="form-group">
              <label for="">Name:</label>
              <input type="text" class="form-control" value="{{ .Name }}" name="name" id="name" aria-describedby="helpId" placeholder="Name">
              <small id="helpId" class="form-text text-muted">Type your Name</small>
            </div>

            <div class="form-group">
              <label for="">Email:</label>
              <input type="email" class="form-control" value="{{ .Email }}" name="email" id="email" aaria-describedby="emailHelpId" placeholder="Email">
              <small id="emailHelpId" class="form-text text-muted">Type your Email</small>
            </div>

            <button type="submit" class="btn btn-success">Edit Employer</button>
            <a class="btn btn-primary" href="/" role="button">Cancel</a>

        </form>

    </div>
</div>

{{ template "footer" }}
{{ end }}